$white: #ffffff;
$black: #000000;
$primary: #252C6A;
$primary-dark: #161b4d;
$secondary: #92278F;
$primary-50: #7D799A;
$gold: #F1C40F;
$silver: #bdc3c7;
$hr: #181E53;
$outline: #95A5A6;
$emerald-green: #2ecc71;
$clouds: #ecf0f1;
$clouds-light: #f5f5f5;
$turquoise: #1abc9c;
$greensea: #16a085;
$asbestos: #7f8c8d;
$petertiver: #3498db;
$belizehole: #2980b9;
$nephritis: #27ae60;
$login-bg: #f8f9fd;
$error: #e74c3c;
$orange: #f39c12;