{#
/**
 * @file
 * Newsletter signup form wrapper
 *
 * Variables:
 * - signup_form: Form object
 * - signup_background: Background image
 */
#}
{% if signup_form %}
  <div class="newsletter-signup">
    {% if signup_background %}
      <div class="newsletter-signup__bg"
           {% if signup_background.src and not signup_background.responsive_image %}style="background-image: url({{ signup_background.src }});"{% endif %}>
        {% if signup_background.responsive_image %}
          {{ signup_background.responsive_image }}
        {% endif %}
      </div>
    {% endif %}
    {{ signup_form }}
  </div>
{% endif %}
