body {
  margin: 0;
  padding: 0;
}

.fb-page {
  padding-top: 50px;
}

.fb-content {
  float: left;
  width: 300px;
  height: 600px;
  background-color: #fed499;
}

.fb-menu {
  float: right;
  width: 270px;
  height: 100px;
  padding: 0;
  background-color: #b5fcb8;
}

.fb-container::after {
  display: block;
  clear: both;
  content: " ";
}

.fb-footer {
  height: 400px;
  background: linear-gradient(
    180deg,
    rgba(150, 115, 240, 1) 0%,
    rgba(295, 170, 240, 1) 100%
  );
}
