.md-objects .md-object.md-layer-1-1-0 {
z-index: 1000 !important; color: #ffffff !important;
 text-align: center;
 font-size: 4.75em;
 font-family: "Poppins";
}
.md-objects .md-object.md-layer-1-1-1 {
z-index: 999 !important; color: #ffffff !important;
 text-align: center;
 font-size: 3.6666666666667em;
 font-family: "Poppins";
}
.md-objects .md-object.md-layer-1-1-2 {
z-index: 997 !important; color: #ffffff !important;
 text-align: center;
 font-size: 2.5em;
 font-family: "Poppins";
}
.md-objects .md-object.md-layer-1-1-3 {
z-index: 998 !important; color: #ffffff !important;
 text-align: center;
 font-size: 4.75em;
 font-family: "Poppins";
}