{{ attach_library('floating_block_test/floating_block_test') }}
<div class="fb-page">
  <div class="fb-container" id="fb-container">
    <section class="fb-content" id="fb-content">
      <p>Lorem ipsum</p>
    </section>

    <section class="fb-menu" id="fb-menu">
      <ul>
        <li>Foo</li>
        <li>Bar</li>
      </ul>
    </section>
  </div>

  <div class="fb-footer">
    <p>Dolor Sit Amet</p>
  </div>

</div>
